<html>

<head>
    <title>SQL 처리 페이지</title>
</head>

<body>
    <h1>SQL 처리 페이지</h1>
<!--
    submit하면, form 내부의 데이터를 전송하여
    /dbsql로 라우팅된 함수를 실행함
-->
    <form action="/dbsql" method="POST">
        <h2>데이터베이스 이름</h2>
        <span> <input type="text" name="db_name" placeholder="ex)name.db"> </span>

        <h2>SQL (명령어 한 줄만 가능)</h2>
<!--
        Flask에서 sql이라는 이름으로 접근가능
        화면에 표시되는 글자 개수는 가로 40개, 세로 10개
        세로 글자 수가 10개 넘어가면 스크롤 발생
-->
        <textarea name="sql" cols="40" rows="10" placeholder="ex) SELECT * FROM table_name"></textarea>
        <br>
        {% if label %}
            <span class="result_lable">
                {% block content %}
                {{ label }}
                {% endblock %}
            </span>
        <br>
        {% endif %}


        <button type="submit">SQL 전송</button>

    </form>
</body>

</html>